@model IEnumerable<CRUD.Models.Character>

<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 style="color: #FB4B4E">Characters</h2>
        </div>
        <div class="col-6">
            <a asp-controller="Character" asp-action="Create" class="btn btn-danger">Create New Character</a>
            <a asp-controller="Region" asp-action="Create" class="btn btn-danger">Create New Region</a>
        </div>
    </div>
    <br />

    @if (Model.Count() > 0)
    {
        <div class="d-flex flex-row" style="width:50vw; height: auto; align-items: center; flex-wrap: wrap; justify-content:flex-start">
        @foreach (var character in Model)
        {
            <div class="card" style="width: 286px; height: 20rem; background: #6D2E46; margin: 10px; border-radius: 25px 25px 0px 0">

                <div class="d-flex justify-content-between">
                    <div class="btn-group" role="group">

                        <div>
                            <form asp-controller="Character" asp-action="Delete" asp-route-Id="@character.Id">
                                <button type="submit" class="btn mx-1" style="width: 50px; height: 50px; border-radius: 100px">
                                    <img class="crudicon" src="~/icons/cruzar.svg" style="width: 30px; height: 30px; padding: 2px;
                                filter: invert(13%) sepia(5%) saturate(4862%) hue-rotate(263deg) brightness(94%) contrast(85%);" />
                                </button>
                            </form>
                        </div>

                        <div>
                            <a asp-controller="Character" asp-action="Update" asp-route-Id="@character.Id" class="btn mx-1" style="width: 50px; height: 50px">
                                <img class="crudicon" src="~/icons/lapis.svg" style="width: 30px; height: 30px; padding: 2px; margin-top: 2px;
                            filter: invert(13%) sepia(5%) saturate(4862%) hue-rotate(263deg) brightness(94%) contrast(85%);" />
                            </a>
                        </div>

                    </div>
                    <h6 class="card-subtitle" style="margin: 5% 5% 0 0; color: #40283A ">@character.Region.Name</h6>
                </div>
                

                
                <div style="height: 220px; width: 286px; margin-left: -1px">
                    <img class="card-img-top" src="@character.Image" alt="Card image cap" style="height: 200px; width: 286px ">
                </div>
                <div class="card-body p-1">
                    <h5 class="card-title m-b-2 text-center">@character.Name</h5>
                    <h6 class="card-subtitle text-center">@character.Description</h6>
                </div>
            </div>         
        }
        </div>
    }
    else
    {
    <p>No characters created yet</p>
    }

</div>

<style>
    .crudicon:hover {
        zoom: 1.1;
    }
</style>
